.cells-bg-sl{
    background-color: #d55c5c;
    color: #1d3744;
    border-bottom-color: #fffdf5;
}
.cells-bg-sd{
    background-color:  #1d3744;
    color: #fffdf5;
    border-bottom-color: #d55c5c;
}