.cells-bg-sl{
    background-color: #ddd4a9;
    color:#241d21;
    border-bottom-color:  #241d21;
}
.cells-bg-sd{
    background-color:  #241d21;
    color: #ddd4a9;
    border-bottom-color: #ddd4a9;
    
}
//////////////////////////////////////


