<!--

-->
<div class="flex-col w-full shadow-lg">
  <div class="flex">
    <!--////////////AVATAR////////////-->
    <div class="flex-col w-full">
      <div class="flex w-full h-full pl-5">
        <div class="flex w-full h-full">
          <button type="button" class="block rounded" aria-expanded="false">
            <img
              class="w-9 h-9 rounded-full md:w-12 md:h-12"
              [src]="src"
              alt=""
            />
          </button>
        </div>
      </div>
    </div>
    <!--////////////AVATAR////////////-->
    <!--////////////DATOS////////////-->
    <div class="w-full py-2 px-2 text-sm md:text-xl text-right">
      <div class="font-bold">Malesuada fames</div>
      <div>Ultrices vulputate</div>
      <div>pulvinar</div>
    </div>
    <!--////////////DATOS////////////-->
  </div>
  <div class="flex px-4 py-2 w-full text-xs font-bold md:text-xl">
    {{ date | date : 'MMM d, yy . h:mm:ss a' }}
  </div>
  <!--////////////IMG////////////-->
  <div class="flex md:max-w-2xl h-80 sm:h-72 md:h-96">
    <img class="w-full h-auto rounded-b" [src]="src2" />
  </div>
  <!--////////////IMG////////////-->
</div>
