<div
  class="flex w-full h-auto justify-center items-center space-x-7 xl:space-x-20"
>
  <div class="text-center">
    <a routerLink="/menus"
      ><fa-icon class="text-5xl text-slate-600" [icon]="faBars"></fa-icon>
    </a>
  </div>
  <div class="text-center">
    <a routerLink="/tables"
      ><fa-icon class="text-5xl text-slate-600" [icon]="faTableList"></fa-icon>
    </a>
  </div>
  <div class="text-center">
    <a routerLink="/cards"
      ><fa-icon class="text-5xl text-slate-600" [icon]="faIdCard"></fa-icon>
    </a>
  </div>
  <div class="text-center">
    <a routerLink="/layouts"
      ><fa-icon class="text-5xl text-slate-600" [icon]="faGrip"></fa-icon>
    </a>
  </div>
</div>
