<div
  [ngClass]="{
    'light-s': themeService.getTheme() === 'light',
    'dark-s': themeService.getTheme() === 'dark'
  }"
  class="absolute h-full w-full flex-col overflow-auto"
>
  <!--////////////////////////////////////////////////////////////-->
  <div
    [ngClass]="{
      'light-ga': themeService.getTheme() === 'light',
      'dark-ga': themeService.getTheme() === 'dark'
    }"
    class="flex xl:h-36 justify-center items-center border-t border-slate-600 mt-14 mb-2 h-auto"
  >
    <div class="px-2 text-3xl">
      <a routerLink="/cards"><fa-icon [icon]="faCircleLeft"></fa-icon></a>
    </div>
    <div class="flex-col pt-2">
      <p class="xl:text-2xl xl:text-left text-lg text-center font-black">
        DISPOSICIÓN DE ELEMENTOS
      </p>
      <p class="mx-2 my-1 text-center xl:text-center text-sm xl:text-lg">
        Apariencia y distribución de componentes para aplicaciones empresariales
        web.
      </p>
    </div>
    <div class="px-2 text-3xl">
      <a routerLink="/menus"><fa-icon [icon]="faCircleRight"></fa-icon></a>
    </div>
  </div>
  <!--////////////////////////////////////////////////////////////-->
  <div class="flex justify-center items-center space-x-3">
    <div>
      <button
        [ngClass]="{
          'bg-slate-700': isActive1,
          'bg-slate-500': !isActive1
        }"
        class="text-xl w-16 rounded-md p-1"
        (click)="toggle1()"
      >
        <fa-icon [icon]="fa1"></fa-icon>
      </button>
    </div>
    <div>
      <button
        [ngClass]="{
          'bg-slate-700': isActive2,
          'bg-slate-500': !isActive2
        }"
        class="text-xl w-16 rounded-md p-1"
        (click)="toggle2()"
      >
        <fa-icon [icon]="fa2"></fa-icon>
      </button>
    </div>
  </div>
  <!--////////////////////////////////////////////////////////////-->
  <div class="grid grid-cols-1 w-full justify-center items-center">
    <app-layout-a *ngIf="isActive1"></app-layout-a>
    <app-layout-b *ngIf="isActive2"></app-layout-b>
  </div>
  <!--////////////////////////////////////////////////////////////-->
  <div
    [ngClass]="{
      'light-gb': themeService.getTheme() === 'light',
      'dark-gb': themeService.getTheme() === 'dark'
    }"
    class="flex w-full h-28"
  >
    <ul>
      <li class="flex py-5 pl-5">
        <fa-icon class="pr-3" [icon]="faCircleDot"></fa-icon>
        <p>Con el apoyo de Angular CDK y Tailwind CSS</p>
      </li>
    </ul>
  </div>
  <!--////////////////////////////////////////////////////////////-->
  <app-footer></app-footer>
</div>

<!--
  <div class="hidden border xl:w-3/4 xl:flex"></div>
-->
