<main
  class="mt-14 absolute w-screen h-screen border-t border-slate-600 overflow-auto"
  [ngClass]="{
    'light-s': themeService.getTheme() === 'light',
    'dark-s': themeService.getTheme() === 'dark'
  }"
>
  <header
    [ngClass]="{
      'light-ga': themeService.getTheme() === 'light',
      'dark-ga': themeService.getTheme() === 'dark'
    }"
    class="pt-2 pb-2 h-auto xl:h-36 py-2 flex justify-center items-center"
  >
    <div class="px-2 text-3xl">
      <a routerLink="/menus"><fa-icon [icon]="faCircleLeft"></fa-icon></a>
    </div>
    <div class="flex-col">
      <P class="xl:text-2xl xl:text-left text-lg text-center font-black"
        >ORDERNAR INFORMACIÓN</P
      >
      <p class="mx-2 my-1 text-center xl:text-center text-sm xl:text-lg">
        Tablas que muestran datos, ajustables, con alternancia de colores y
        temas.
      </p>
    </div>
    <div class="px-2 text-3xl">
      <a routerLink="/cards"><fa-icon [icon]="faCircleRight"></fa-icon></a>
    </div>
  </header>
  <section class="flex justify-center items-center">
    <div
      [ngClass]="{
        'light-s': themeService.getTheme() === 'light',
        'dark-s': themeService.getTheme() === 'dark'
      }"
      class="container flex justify-center items-center py-5"
    >
      <div class="grid grid-cols-1 gap-7 w-5/6 justify-center items-center">
        <app-table-a></app-table-a>
        <app-table-b></app-table-b>
        <app-table-c></app-table-c>
        <app-custom-table
          [data]="dataSource"
          [columns]="columns"
        ></app-custom-table>
      </div>
    </div>
  </section>
  <section>
    <div
      [ngClass]="{
        'light-gb': themeService.getTheme() === 'light',
        'dark-gb': themeService.getTheme() === 'dark'
      }"
      class="flex w-full h-28"
    >
      <ul>
        <li class="flex py-5 pl-9">
          <fa-icon class="pr-3" [icon]="faCircleDot"></fa-icon>
          <p>Con el apoyo de Angular CDK</p>
        </li>
      </ul>
    </div>
  </section>
  <footer><app-footer></app-footer></footer>
</main>
