<!--/////////////////BANNER///////////////////////////////-->
<div class="xl:pr-72 xl:pl-72">
  <div class="w-full h-auto flex flex-col p-2 xl:p-3">
    <img
      [src]="src"
      class="w-full h-auto object-fit:cover shadow-md rounded-md"
    />

    <div
      class="absolute w-2/3 xl:w-1/3 lg:mt-52 mt-8 xl:mt-30 ml-4 lg:ml-20 text-slate-900 flex-col"
    >
      <p class="text-lg font-black lg:text-6xl">
        IPSUM dolor sit amet ipsum dolor sit amet ipsum.
      </p>
      <p
        class="text-xs pt-4 font-bold xl:pt-10 md:pt-15 xl:text-4xl text-slate-300 lg:text-8xl"
      >
        dolor sit amet ipsum dolor sit amet.
      </p>
      <div class="flex mt-6">
        <button
          class="p-1 xl:p-2 border text-sm bg-green-600 border-green-700 rounded-md"
        >
          Subscribe
        </button>
        <div
          class="text-slate-400 text-sm pl-5 flex justify-center items-center"
        >
          amet ipsum dolor
        </div>
      </div>
    </div>
  </div>
  <!--/////////////////TEXT///////////////////////////////-->
  <div class="flex flex-col w-full pl-4 pb-2">
    <p class="font-semibold text-lg">Cras porttitor mattis urna</p>
    <p class="text-sm xl:text-lg pt-1 pr-3">
      Pellentesque bibendum justo a enim euismod, et placerat dolor congue. Cras
      porttitor mattis urna luctus elementum. Phasellus bibendum ornare ex, eu
      condimentum arcu venenatis nec.
    </p>
  </div>
  <!--/////////////////GRID///////////////////////////////-->
  <div
    class="pt-3 p-2 pb-8 grid xl:grid-cols-4 grid-cols-1 gap-10 justify-items-center items-center"
  >
    <div class="flex flex-col w-full h-full">
      <div class="text-xl pl-1">
        <button>
          <fa-icon [icon]="faUpRightFromSquare"></fa-icon>
        </button>
      </div>
      <div class="pl-1 pr-2">
        <p class="font-semibold pb-2">
          et placerat dolor congue. Cras porttitor mattis urna luctus elementum
          magna tellus quis tellus
        </p>
        <p class="pb-6 pl-1 pr-2">
          Ut tristique lorem et quam pellentesque tincidunt. Sed sed arcu enim.
          Praesent efficitur, erat non maximus commodo, massa quam finibus eros,
          non pharetra magna tellus quis tellus. Maecenas in elementum velit, at
          volutpat dui. Phasellus vitae enim est. Sed id urna eu nibh efficitur
          pharetra.
        </p>
      </div>
      <div
        class="w-full xl:w-full h-auto rounded-md border border-slate-700 shadow-md"
      >
        <img class="w-full h-auto rounded-b" [src]="src2" />
      </div>
      <hr class="border border-slate-700 mt-2 mx-8" />
    </div>
    <!--////////////////////////////////////////////////-->

    <div class="flex flex-col w-full h-full">
      <div class="text-xl pl-1">
        <button>
          <fa-icon [icon]="faUpRightFromSquare"></fa-icon>
        </button>
      </div>
      <div class="pl-1 pr-2">
        <p class="font-semibold pb-2">
          et placerat dolor congue. Cras porttitor mattis urna luctus elementum
          magna tellus quis tellus
        </p>
        <p class="pb-6 pl-1 pr-2">
          Ut tristique lorem et quam pellentesque tincidunt. Sed sed arcu enim.
          Praesent efficitur, erat non maximus commodo, massa quam finibus eros,
          non pharetra magna tellus quis tellus. Maecenas in elementum velit, at
          volutpat dui. Phasellus vitae enim est. Sed id urna eu nibh efficitur
          pharetra.
        </p>
      </div>
      <div
        class="w-full xl:w-full h-auto rounded-md border border-slate-700 shadow-md"
      >
        <img class="w-full h-auto rounded-b" [src]="src2" />
      </div>
      <hr class="border border-slate-700 mt-2 mx-8" />
    </div>
    <!--////////////////////////////////////////////////-->

    <div class="flex flex-col w-full h-full">
      <div class="text-xl pl-1">
        <button>
          <fa-icon [icon]="faUpRightFromSquare"></fa-icon>
        </button>
      </div>
      <div class="pl-1 pr-2">
        <p class="font-semibold pb-2">
          et placerat dolor congue. Cras porttitor mattis urna luctus elementum
          magna tellus quis tellus
        </p>
        <p class="pb-6 pl-1 pr-2">
          Ut tristique lorem et quam pellentesque tincidunt. Sed sed arcu enim.
          Praesent efficitur, erat non maximus commodo, massa quam finibus eros,
          non pharetra magna tellus quis tellus. Maecenas in elementum velit, at
          volutpat dui. Phasellus vitae enim est. Sed id urna eu nibh efficitur
          pharetra.
        </p>
      </div>
      <div
        class="w-full xl:w-full h-auto rounded-md border border-slate-700 shadow-md"
      >
        <img class="w-full h-auto rounded-b" [src]="src2" />
      </div>
      <hr class="border border-slate-700 mt-2 mx-8" />
    </div>
    <!--////////////////////////////////////////////////-->

    <div class="flex flex-col w-full h-full">
      <div class="text-xl pl-1">
        <button>
          <fa-icon [icon]="faUpRightFromSquare"></fa-icon>
        </button>
      </div>
      <div class="pl-1 pr-2">
        <p class="font-semibold pb-2">
          et placerat dolor congue. Cras porttitor mattis urna luctus elementum
          magna tellus quis tellus
        </p>
        <p class="pb-6 pl-1 pr-2">
          Ut tristique lorem et quam pellentesque tincidunt. Sed sed arcu enim.
          Praesent efficitur, erat non maximus commodo, massa quam finibus eros,
          non pharetra magna tellus quis tellus. Maecenas in elementum velit, at
          volutpat dui. Phasellus vitae enim est. Sed id urna eu nibh efficitur
          pharetra.
        </p>
      </div>
      <div
        class="w-full xl:w-full h-auto rounded-md border border-slate-700 shadow-md"
      >
        <img class="w-full h-auto rounded-b" [src]="src2" />
      </div>
      <hr class="border border-slate-700 mt-2 mx-8" />
    </div>
  </div>
</div>
