<table class="w-full shadow-xl" cdk-table [dataSource]="dataSource">
  <tr
    [ngClass]="{
      'cells-bg-sl': themeService.getTheme() === 'dark',
      'cells-bg-sd': themeService.getTheme() === 'light'
    }"
    cdk-header-row
    class="text-center text-xs text-slate-800 uppercase"
    *cdkHeaderRowDef="columns"
  ></tr>
  <tr
    [ngClass]="{
      'cells-bg-sl': themeService.getTheme() === 'light',
      'cells-bg-sd': themeService.getTheme() === 'dark',
    }"
    class="border-b border-slate-400 text-center"
    cdk-row
    *cdkRowDef="let row; columns: columns"
  ></tr>
  <!--//////////////////////////////////////-->
  <ng-container cdkColumnDef="column 1">
    <th cdk-header-cell class="px-2 py-2" *cdkHeaderCellDef>Id</th>
    <td cdk-cell class="px-3 py-3" *cdkCellDef="let row">
      {{ row.id }}
    </td>
  </ng-container>
  <!--//////////////////////////////////////-->
  <ng-container cdkColumnDef="column 2">
    <th cdk-header-cell class="px-2 py-2" *cdkHeaderCellDef>name</th>
    <td cdk-cell class="px-3 py-3" *cdkCellDef="let row">
      {{ row.name }}
    </td>
  </ng-container>
  <!--//////////////////////////////////////-->
  <ng-container cdkColumnDef="column 3">
    <div>
      <th cdk-header-cell class="px-2 py-2" *cdkHeaderCellDef>age</th>
      <td cdk-cell class="px-3 py-3" *cdkCellDef="let row">
        {{ row.age }}
      </td>
    </div>
  </ng-container>
  <!--//////////////////////////////////////-->
  <ng-container cdkColumnDef="column 4">
    <div>
      <th cdk-header-cell class="px-2 py-2" *cdkHeaderCellDef>column</th>
      <td cdk-cell class="px-3 py-3" *cdkCellDef="let row">
        {{ row.column }}
      </td>
    </div>
  </ng-container>
  <!--//////////////////////////////////////-->
</table>
